*{
  font-family: Verdana, Tahoma, sans-serif;
  transition: 0.3s ease-in;
}

.container{
  max-width: 1200px;
  padding-inline: 1rem;
  margin-inline: auto;
}

body{
  background-color: #333;
}

header {
  color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 1rem;
  gap: 1rem;
}