.crypto-panel{
  display: flex;
  flex-direction: column;
  align-self: start;
}

.crypto-panel h2{
  color: white;
  text-align: center;
  margin-block: 1rem;
}

#search-crypto{
  font-size: 1rem;
  margin-block: 1rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  caret-color: white;
  color: white;
}

#search-crypto:focus{
  box-shadow: 0 0.1rem 0 white;
}

#crypto-select{
  width: 100%;
  color: white;
  border: 1px solid white;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#crypto-select option{
  color: black;
}

#add-favorite, #show-info {
  background-color: green;
  color: white;
  padding: 1rem 2rem;
  transition: 0.4s;
  margin-top: 1rem;
  border-radius: 1rem;
}
#add-favorite:hover {
  transform: translate(0, -4px);
  box-shadow: 0 4px 0 1px #006000;
}
#add-favorite:active {
  transform: translate(0, -1px);
  box-shadow: 0 1px 0 1px #006000;
}
#show-info {
  background-color: darkgoldenrod;
}
#show-info:hover {
  transform: translate(0, -4px);
  box-shadow: 0 4px 0 1px #a67c00;
}
#show-info:active {
  transform: translate(0, -1px);
  box-shadow: 0 1px 0 1px #a67c00;
}