#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container {
  background-color: white;
  padding: 1rem;
  width: min-content;
  border-radius: 1rem;
  position: relative;
}
#close-btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
#close-btn:hover{
  transform: rotate(720deg);
}
#modal-body h2{
  text-wrap: nowrap;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
#modal-body p{
  margin-bottom: 1rem;
  width: min-content;
  text-wrap: nowrap;
}
#modal-body img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
#modal-body > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}