/* Прибирання стандартних відступів у браузера */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* прибирання стандартних стілів для кнопкам, випадаючим спискам, 
полям для ведення */
button,
select,
input {
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
/* висота лінії для тексту */
p {
  line-height: 1.5;
}
/* прибирання стандартних стілів для посилань */
a {
  text-decoration: none;
  color: inherit;
}
/* прибирання стандартних стілів для списків */
ul,
li {
  list-style: none;
}

/* ↓↓↓ === встаговити максимаьну висотку сторінки === ↓↓↓ */
html {
  height: 100vh;
}
body{
  min-height: 100%;
}
/* ↑↑↑ === встаговити максимаьну висотку сторінки === ↑↑↑ */