/* Прибирання стандартних відступів у браузера */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* прибирання стандартних стилів для кнопкам, випадаючи спискам, 
полям для ведення */
button,
select,
input,
select {
	/* Прибирає обводу при фокусі на елемент */
  outline: none;
	/* Прибирає стандартну обводку  */
  border: none;
	/* Змінює форму курсора для вибора */
  cursor: pointer;
	/* Успадковує котір текту від балькістокого елемента */
  color: inherit;
}
/* висота лінії для тексту */
p {
  line-height: 1.3;
}
/* прибирання стандартних стілів для посилань */
a {
  text-decoration: none;
  color: inherit;
}
/* прибирання стандартних стілів для списків */
ul,
li {
  list-style: none;
}

/* ↓↓↓ === встаговити максимаьну висотку сторінки === ↓↓↓ */
html {
  height: 100vh;
}
body{
  min-height: 100%;
}
/* ↑↑↑ === встаговити максимаьну висотку сторінки === ↑↑↑ */