* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
select,
label,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li{
  list-style: none;
}