:root {
	--font-family: "Roboto", sans-serif;
	--size-btn: 2rem;


	--bg-color: #FFFFFF;
	--bg-menu-tb: #FFA5001A;
	--text-color: #333333;
	--text-color-accent: #FF6B00;
	--color-shadow: #11111160;
}

.dark-theme {
	--bg-color: #212121;
	--bg-menu-tb: #FF8C0026;
	--text-color: #F5F5F5;
	--text-color-accent: #FFA347;
}