.contact-icons {
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-icons i {
	font-size: 3rem;
	color: var(--text-color-accent);
}

.contact-icons a:hover i {
	animation-name: icon_;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
}

@keyframes icon_ {
	0%,
	100% {
		transform: translate(0,0) scale(1);
	}
	
	50% {
		transform: translate(0, -0.3rem) scale(1.1);

	}
}