header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
  background-color: var(--header-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

h1 {
  color: white;
}

.img-logo {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
}

/* Add hover effect == ↓↓↓ */
.img-logo:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px #00000080;
}
/* Add hover effect == ↑↑↑ */

.header-menu {
  display: flex;
  gap: 1rem;
}

.header-menu a {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.25rem;
  transition: all 0.3s;
  text-wrap: nowrap;
}

/* Add hover effect == ↓↓↓ */
.header-menu a:hover{
  color: white;
}
/* Add hover effect == ↑↑↑ */
