.skills_content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	padding: 2rem;
}

.skills_content:has(.skills_cart:hover) .skills_cart:not(:hover) {
	opacity: 0.5;
}

.skills_cart {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--text-color-accent);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.5rem;
}

.skills_cart:hover {
	box-shadow: 0 0 1rem 0.2rem var(--text-color-accent);
	scale: 1.1;
}

.skills_cart .text-accent {
	margin-top: auto;
}

.skills_img {
	width: 40%;
	margin-inline: auto;
}

.skill_prev,
.skill_next {
	display: none;
}

/* === TABLET === */
@media (max-width: 800px) {
	.skills_content {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* ==== PHONE ====  */
@media (max-width: 480px) {

	.skills_content:has(.skills_cart:hover) .skills_cart:not(:hover) {
		opacity: 1;
	}

	.skills_cart:hover {
		box-shadow: none;
		scale: 1;
	}


	.skills_container {
		position: relative;
		width: 100%;
		max-width: 600px;
		margin: auto;
		overflow: hidden;
	}

	.skills_content {
		display: flex;
		gap: 0;
		transition: transform 0.5s ease;
	}

	.skills_cart {
		min-width: 100%;
		transform: transition();
	}

	.skill_prev,
	.skill_next {
		position: absolute;
		top: 50%;
		display: block;
		background-color: var(--bg-menu-tb);
		color: white;
		z-index: 10;
		height: 2rem;
		border-radius: 0.5rem;
		font-size: 1.2rem;
		transform: translateY(-50%);
		transition-duration: 0.1s;
	}

	.skill_prev {
		left: 0;
	}

	.skill_next {
		right: 0;
	}

	.skill_prev:active,
	.skill_next:active {
		scale: 0.95;
	}
}