.works__title{
  text-align: center;
  font-size: 2.625rem;
  margin-block: 2rem;
}

.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.works__item a{ 
  padding: 2rem;
  border-radius: 2rem;
  color: var(--text-color);
  background-color: var(--works-a-bg-color);
} 